{% extends "base.html" %}

{% block title %} Create task {% endblock %}
 
{% block body %}
 

{% from "_render_field.html" import render_field %}

<form action="{{ url_for('task.create_task')}}" method="post" class="w-50 m-auto">
    {{ form.hidden_tag() }}
    {% for field in form if field not in [form.submit, form.hidden_tag, form.csrf_token] %}
    {{ render_field(field, class="form-control") }}
    {% endfor %}
    {{ form.submit(class="btn btn-primary") }}
</form>

{{ ckeditor.load() }}
{{ ckeditor.config(name='description') }}

{% endblock %}