{% extends "base.html" %}

{% block title %} My licenses & certifications {% endblock %}

{% block body %}

<div class="container">
    <br><br>
    <h4>
        <ul>
            <li>Google UX Design Professional Certificate</li>
            <li>"UI/UX Design" Specialization by California Institute of the Arts</li>
            <li>"Design Thinking for Innovation"</li>
            <li>Cambridge English Level 1 Certificate in ESOL International (First)</li>
        </ul>
    </h4>
</div>

{% endblock %}