<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <!-- CSS Bootstrap CDN Link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>

    {% include 'includes/header.html' %}
    {% for category, message in get_flashed_messages(True) %}
    <ul class="list-group w-50 text-center mx-auto pt-4">
        <li class="list-group-item list-group-item-{{category}} py-1">{{message}}</li>
    </ul>
    {% endfor %}
    {% block body %}

    {% endblock %}
    {% include 'includes/footer.html' %}
    {% include 'includes/imports.html' %}

</body>

</html>